<!DOCTYPE html>
<html>
  <head>
    <title>VOTE.APP</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <% flash.each do |type, msg| %>
        <% if type == "notice" %>
          <div class="p-4 mb-2 text-xl text-blue-800 rounded-lg bg-blue-50 flex justify-center" role="alert">
            <span class="font-medium mr-1"><%= msg %></span>
        <% elsif type == "alert" %>
          <div class="p-4 mb-2 text-xl text-red-800 rounded-lg bg-red-50 flex justify-center" role="alert">
            <span class="font-medium mr-1"><%= msg %></span>
        <% end %>
      </div>
    <% end %>

    <%= render "layouts/nav" %>

    <main class="container px-10 flex-auto flex-col">
      <%= yield %>
    </main>
  </body>
</html>
